
<p></p>

<div class="container">
      <form>
      <div class="form-row">

        <div class="col-md-3">
          <input type="text" name="title" id="title" [(ngModel)]="newDonation.title" placeholder="Name" class="form-control">
        </div>
        <div class="col-md-3">
          <input name="description" id="description" [(ngModel)]="newDonation.description" placeholder="Donation" class="form-control"
            id="description">
        </div>
        <div class="col-md-3">
          <input name="email" id="email" [(ngModel)]="newDonation.email" placeholder="Email" class="form-control"
            id="email">
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form> 
  </div>


    <div class="donations container" *ngIf="donationsList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Donation</th>
            <th class="h">Email</th>
            <th class="h">Date</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="donation" (dblclick)="editDonation(donation)" *ngFor="let donation of donationsList">

            <td>{{donation.title}}</td>
              <td>{{donation.description}}</td>
              <td>{{donation.email}}</td>
              <td>{{donation.date | date}}</td>
              <td>{{donation.status}}</td>
            
            <td>
              <button class="btn btn-success invisible" (click)="doneDonation(donation)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="sendEmail(donation)">
                  <i  class="fa fa-envelope"></i>
                </button>
              <button class="btn btn-danger invisible" (click)="deleteDonation(donation)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <app-letter></app-letter>